@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  @font-face {
    font-family: Comfortaa;
    src: url('./assets/fonts/Comfortaa.ttf');
  }
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100dvh;
  height: 100%;
  /* overflow: hidden; */
}

@layer base {
  :root {
    --bkg: 0deg 0% 96%;
    --bkg-frg: 0deg 0% 15.7%;

    --bkg-sec: 210deg 0.8% 98.4%;
    --bkg-sec-frg: 0deg 0% 8.2%;

    --primary: 274deg 66% 32%;
    --primary-frg: 0deg 0% 96.9%;

    --destructive: 351deg 86% 61%;
    --destructive-frg: 0deg 0% 96.9%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bkg: 240deg 5% 13%;
      --bkg-frg: 240deg 1.8% 89%;

      --bkg-sec: 240deg 4% 15.3%;
      --bkg-sec-frg: 240deg 1.9% 83.1%;

      --primary: 273deg 67% 59%;
      --primary-frg: 222deg 64.3% 16.5%;

      --destructive: 351deg 86% 61%;
      --destructive-frg: 0deg 0% 96.9%;
    }

    .inputDarkModeOverride {
      &:-webkit-autofill {
        box-shadow: 0 0 0 30px #1c1c1d inset;
      }

      &:-webkit-autofill:hover {
        box-shadow: 0 0 0 30px #1c1c1d inset;
      }

      &:-webkit-autofill:focus {
        box-shadow: 0 0 0 30px #1c1c1d inset;
      }

      &:-webkit-autofill:active {
        box-shadow: 0 0 0 30px #1c1c1d inset;
      }
    }
  }
}
